#wikiBody {
    margin: 10px 0 10px 0;
    border: 1px dashed #CCC;
    padding: 4px;
}
#wikiBottom {
    margin: 10px 0;
    border: 1px dotted #CCC;
}
#wikiAttachments, #wikiChildren {
    padding: 4px;
}
#breadcrumb {
    margin: 10px 0;
    border: 1px dotted #CCC;
    padding: 3px 5px;
}